**Wissam MZ** <br>

Basic Function +condition+ Iteration Loop <br> Assignment

In [10]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

task 1

In [19]:
x  = [10,20,30,50,8,9]
def something():
    for y in x:
        print("The index :",str(x.index(y)),'stored value is  :',y)
        print('The length :',len(x))
        print(range(len(x)))
        
something()

The index : 0 stored value is  : 10
The length : 6
range(0, 6)
The index : 1 stored value is  : 20
The length : 6
range(0, 6)
The index : 2 stored value is  : 30
The length : 6
range(0, 6)
The index : 3 stored value is  : 50
The length : 6
range(0, 6)
The index : 4 stored value is  : 8
The length : 6
range(0, 6)
The index : 5 stored value is  : 9
The length : 6
range(0, 6)

In [1]:
def n():
    count = 0
    while(count < 9):
        print ('The count',count)
        count = count + 1
n()

The count 0
The count 1
The count 2
The count 3
The count 4
The count 5
The count 6
The count 7
The count 8

Task 2

In [2]:
def x():
    count = 0
    while count < 6:
        print('new count',count)
        count = count + 1
    if count >= 5:
        print('count is larger than ',count)
    else:
        print('count is less than Five ',count)
 
x()

new count 0
new count 1
new count 2
new count 3
new count 4
new count 5
count is larger than  6

task 3

In [3]:
text = 'sun and moon'
for letter in text:
    if letter == '':
        break
    print('The letter : ', letter)

The letter :  s
The letter :  u
The letter :  n
The letter :
The letter :  a
The letter :  n
The letter :  d
The letter :
The letter :  m
The letter :  o
The letter :  o
The letter :  n